.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(255, 255, 255);
    -fx-background-color: plum;
}


.card-Selected{
    -fx-background-color: yellow;
}

.card-Empty {
    -fx-background-color: black;
}

.card-Hidden{
    -fx-background-color: green;
}

.card-UnHidden{
    -fx-background-color: white;
}

.label{
    -fx-font-size: 15;
}